<header>
    <div class="container">
        <a href="/home" class="logo"><img src="https://files.catbox.moe/9wkwub.png" width="80"></a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Username</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li><a routerLink="/cart-page">Cart <span>3</span></a></li>
            </ul>
        </nav>
    </div>
  </header>
