<header>
    <div class="container">
        <a class="logo" routerLink="/"><img src="https://files.catbox.moe/9wkwub.png" width="80"></a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li><a routerLink="/cart-page">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a></li>
            </ul>
        </nav>
    </div>
  </header>
